/*_______Start section home______*/
#home
{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position:center center;
}
.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link
{
    color:#fff
}
.navbar-light .navbar-nav  a
{
    font-size: 18px;
    margin-left: 10px;
}
.navbar-light .navbar-brand
{
    font-size: 25px;
}
.link,.link:hover{
    color:rgb(54, 189, 207);
}
/*_______End section home______*/


.card {
    box-shadow: 10px 10px 102px 24px rgba(0, 0, 0, 0.45);
}